.small{
    color: goldenrod;
    float: left;
    font-size: 10px;
    margin-left: 2px;
    margin-top: 43px;
    letter-spacing: 2px;
    word-spacing: 7px;
    margin-bottom: -5px;
}

.byt{
    color: red;
    float: left;
    margin-top: -60px;
    font-size: 2em;
    width: 100px;
    height: 35px;
    margin-bottom: 2px;
}
.line{
    background-color:orangered;
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    margin: auto;
    margin-top: -20px;
}

body{
    background-color: black;
}
.heading h1{
    
    color: white;
    font-size: 3em;
    margin-left: 30%;
    margin-right: 30%;
}




.back center a{
    padding: 5px 10px 5px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: white solid 2px;
    float: right;
    margin-top: -10px;
    margin-right: 40px;
    border: white solid 1px;
}
.back center a:hover{
    background: orangered;
    color:black;
    transition: 0.3s;
}
.copy_right{
    color: white;

}
.line2{
    width: 1525px;
    height: 5px;
    background-color: orangered;
    margin-top: 10%;
    
}
.copy_right{
    color: white;
    margin-top: 3px;
}
.copy_right p{
    color: white;
    margin-top: 0px;
}
.copy_right p a{
    text-decoration: none;
}
.content{
    color: white;
    border: white solid 2px;
    width: 500px;
    height: 400px;
    margin-left: 33%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}
.content .p h5{
    margin-bottom: -20px;
}
.content center h1{
    color: orangered;
}
.mt{
    color: yellow;
    float: right;
    margin-top: -150px;
    font-size: 2em;
    width: 100px;
    height: 35px;
    margin-bottom: 2px;
    margin-right: 20px;
}
.footer{
    margin-top: 570px;
}
.smallmt{
    color: goldenrod;
    float: right;
    font-size: 13px;
    margin-right: 16px;
    margin-top: -45px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.feedback label{
    color: white;
    margin-left: 35%;
    margin-right: 30%;
}
.feedback input{
    margin-left: -30%;
    size: 10px 20px 10px 20px;
    height: 10%;
}
.feedback{
    margin-top: 30px;
    margin-bottom: -80px;
}
.button{
    width: 56px;
    border: white solid 2px;
    background-color: black;
    color: white;
    margin-left: 50%;
    margin-bottom: -130px;
    margin-top: 85px ;
}
.button button :hover{
    cursor: pointer;
    background-color: white;
}
.all{
    margin-left: -30px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
  }