        
/*CSS for Heading block start here*/        
        .mt{
            color: yellow;
            float: right;
            margin-top: -150px;
            font-size: 2em;
            width: 100px;
            height: 35px;
            margin-bottom: 2px;
            margin-right: 20px;
        }

        .smallmt{
            color:red;
            float: right;
            font-size: 13px;
            margin-right: 16px;
            margin-top: -50px;
            letter-spacing: 1px;
            word-spacing: 5px;
        }
        .line{
            background-color: orangered;
            width: 100%;
            height: 5px;
            margin-bottom: 5px;
            margin: auto;
            margin-top:-30px;
        }
        body{
            background-color: black;
        }

        .small{
            color: goldenrod;
            float: left;
            font-size: 10px;
            margin-left: 2px;
            margin-top: 43px;
            letter-spacing: 2px;
            word-spacing: 7px;
            margin-bottom: -5px;
        }

        .byt{
            color: red;
            float: left;
            margin-top: -60px;
            font-size: 2em;
            width: 100px;
            height: 35px;
            margin-bottom: 2px;
        }
        .heading h1{
            
            color: white;
            font-size: 3em;
            margin-left: 30%;
            margin-right: 30%;
        }
/* css for header block ends here*/


/* css for body stsrts here*/
        .seats h1{
            font-size: 35px;
            margin-left: 40%;
            color: white;
        }

        .back center a{
            padding: 5px 10px 5px 10px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            border: white solid 2px;
            float: right;
            margin-top: -55px;
            margin-right: 40px;
            
        }
        .back center a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }


        .place a{
            /* padding: 40px 70px 40px 70px; */
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            /* background-image: url(hyd91.jpg); */
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place a b{
            margin-top: 50px;
        }
        .place a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }

        /*.place1 a{
            
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place1 a b{
            margin-top: 50px;
        }
        .place1 a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }

        .place2 a{
            
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place2 a b{
            margin-top: 50px;
        }
        .place2 a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }

        .place3 a{
            
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place3 a b{
            margin-top: 50px;
        }
        .place3 a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }

        .place4 a{
            
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place4 a b{
            margin-top: 50px;
        }
        .place4 a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }

        .place5 a{
            
            width: 300px;
            height: 130px;
            background-color: transparent;
            color: red;
            text-decoration: none;
            border: white solid 2px;
            margin-bottom: -10px;
            margin-top: 20px;
            background-image: url(mumbai1.jpg);
            font-size: 32px;
            display: flex;
            justify-content:center;
            margin-left: 20px;
            flex-direction: row;
            
        }
        .place5 a b{
            margin-top: 50px;
        }
        .place5 a:hover{
            background: orangered;
            color:black;
            transition: 0.3s;
        }*/





        .places{
            display: flex;
            column-gap: 10px;
            justify-content:center;
            row-gap: 10px;
        }
/*CSS for body ends here*/

/*CSS for Footer starts here*/

        .line2{
            width: 100%;
            height: 5px;
            background-color: orangered; 
            margin-top: 70px;
        }
        .copy_right{
            color: white;
            margin-top: 10px;
            font-size: 20px;
        }
        .copy_right center p{
            color: white;
            margin-top: 0px;
            text-decoration: none;
        }
        .copy_right p :hover{
            color: white;
            text-decoration: none;
            cursor: pointer;
            
        }
        .copy_right p a{
            text-decoration: none;
        }
        .footer{
            margin-top: 15%;
        }
/*CSS for footer Ends here*/        