body{
    width: 100%;
}
.heading input{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;

}
.line{ 
    
    width: 1500px;
    height: 5px;
    background-color: orangered;
    margin-top: -10px;
}

.line1{    
    width: 1500px;
    height: 5px;
    background-color: orangered; 
}

.line2{
    width: 1500px;
    height: 5px;
    background-color: orangered; 
}
.nothing .search {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    
}
.nothing .search input{
    /* padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-bottom: 3px; */
    padding:5px 30px 5px 10px ;
    color:black;  
    font: bold ;
    font-size: x-large;
    
}
.photos input{
   margin-left: 15px;
   font-style: bold;
   margin-bottom: 2px;
   width: 300px;
   height: 20px;
   cursor: pointer;
   background-color: black;
   color: white;
   -ms-text-size-adjust: inherit;
   
}
.photos a{
    padding: 3px 10px 3px 10px;
    
    color: white;
    text-decoration: none;
    margin-left: -30px;
    margin-top: 3px;
    letter-spacing: 1px;
    background: transparent;
    font-size: 1.2em;
    
}
.photos .rrr a{
    margin-left: -30px;
}
.photos a:hover{
    color: orangered;
    
}

.photos img{
    width: 325px;
    height: 300px;
    border: 2px solid black;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 3px;
}
.photos{
    display: flex;
    margin-bottom: 15px;
    margin: auto;
    margin-top: -2px;
    grid-row: auto;
    grid-column: auto;
    grid-auto-rows: auto;
    margin-left: 10px;
}

.body{
    background-color: black;
    width: 100%;

}

.nothing .search {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: -20px;    

}
.nothing .search .button{
    margin-left: 20px;
    text-align: center;
    cursor: pointer;

}
.nothing .search .button input :hover{
    cursor: pointer;
    background-color: black;
    color: white;    
}
.heading {
    color: white;
    font-size: 1.5em;
    margin-left:35%;

}
.Login a{
    padding: 5px 10px 5px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: white solid 2px;
    float: right;
    margin-top: 25px;
    margin-right: 3%;   

} 
.L00ogin a{
    padding: 5px 10px 5px 10px;
    background-color: black;
    color: white;
    border: white solid 2px;
    float: right;

    text-decoration: none;
    margin-block-end: -10px;
    
}
.nothing{
     align-items: center;
     margin-left: 30%;
}
.marquee blink p{
    color: white;
    font-size: 25px;

    margin-bottom: -20px;
}
  
.Login a:hover{
    background-color: white;
    color: black;
    font-size: 15px;
}
.adventure a{
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 3px;
    letter-spacing: 1px;
    background: transparent;
    font-size: 2.5em;
    
    
}
.copy_right{
    color: white;
    margin-top: 3px;
}
.copy_right center p{
    color: white;
    margin-top: 0px;
    text-decoration: none;
}
.copy_right p :hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}
.copy_right p a{
    text-decoration: none;
}
.byt{
    color: red;
    float: left;
    margin-top: -60px;
    font-size: 2.1em;
    width: 100px;
    height: 40px;
}
.small{
    color: goldenrod;
    float: left;
    font-size: 13px;
    margin-left: 2px;
    margin-top: 44px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.body .heading h1{
    margin-bottom: -8px;
    /* margin-left: 130px; */
    /* margin-right: -50px; */
    font-size: 2em;
    
}
.mt{
    color: yellow;
    float: right;
    margin-top: -100px;
    font-size: 2em;
    width: 100px;
    height: 35px;
    margin-bottom: 2px;
    margin-right: 20px;
}
.footer{
    margin-top: 570px;
}
.smallmt{
    color: orangered;
    float: right;
    font-size: 13px;
    margin-right: 18px;
    margin-top: 1px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.header{
    margin-top: -18px;
}







#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    
    max-height: 100px;
    overflow-y: auto;
    color: white;
    width: 30%;
    margin-top: 3px;
  }
  #suggestions li {
    padding: 0.5em;
    cursor: pointer;
  }
  #suggestions li:hover {
    background-color: #f0f0f0;
  }








